@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --body-color: #fff;
  --bg-color: #1f1d2c;
  --nav-color: #262634;
  --list-item-color: #524e63;
  --light-purple: #ab68fc;
  --dark-purple: #4937f0;
  --light-blue: #5ae4e4;
  --dark-blue: #31869b;
  --light-orange: #eba88b;
  --dark-orange: #f14a2b;
  --light-red: #d27eb5;
  --dark-red: #610241;
  --white: #ffffff;
  --account-color: #7e6de9;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  font-family: "Cairo", sans-serif;
}

.NoteOrange {
  background-image: linear-gradient(45deg, var(--light-orange), var(--dark-orange));
}

.NoteRed {
  background-image: linear-gradient(45deg, var(--light-red), var(--dark-red));
}

.NoteBlue {
  background-image: linear-gradient(45deg, var(--light-blue), var(--dark-blue));
}

.NotePurple {
  background-image: linear-gradient(45deg, var(--light-purple), var(--dark-purple));
}

.app {
  width: 1100px;
  height: 569px;
  background-color: var(--bg-color);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px 0px var(--bg-color);
          box-shadow: 0px 0px 25px 0px var(--bg-color);
  overflow: hidden;
}

.app .bottom {
  width: 100%;
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav {
  height: 12%;
  background-color: var(--nav-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px;
}

.Nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 10px;
}

.Nav .left .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--white);
  overflow: hidden;
}

.Nav .left .image img {
  width: 37px;
}

.Nav .left .name {
  font-size: 1.3rem;
  font-weight: 400;
}

.Nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav .right .moon {
  font-size: 1.6rem;
  margin-right: -15px;
}

.Nav .right .light-mode-button {
  background: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.Nav .right .light-mode-button :focus {
  outline: none;
}

.Nav .right .light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Nav .right .light-mode-button .modeToggle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Nav .right .light-mode-button .light {
  right: 65px;
}

.Aside {
  width: 26%;
  height: 100%;
  border-right: 3px solid var(--list-item-color);
  position: relative;
}

.Aside ul li {
  list-style: none;
}

.Aside ul li a {
  display: inline-block;
  height: 8vh;
  width: 100%;
  border-bottom: 3px solid var(--list-item-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--list-item-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  gap: 5px;
}

.Aside ul li a:hover, .Aside ul li a.active {
  background-color: var(--list-item-color);
  color: var(--white);
  padding-left: 30px;
}

.Aside ul li a .noteIcon {
  font-size: 1.5rem;
}

.Aside ul li a .editIcon {
  font-size: 1.6rem;
}

.Aside .log-out {
  position: absolute;
  font-size: 1.1rem;
  color: var(--list-item-color);
  bottom: 5px;
  left: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.Aside .log-out:hover {
  padding-left: 10px;
}

.preview {
  width: 74% !important;
  height: 100% !important;
}

.container-notes {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  overflow-y: scroll;
}

.container-notes::-webkit-scrollbar {
  width: 1em;
  background-color: var(--nav-color);
}

.container-notes::-webkit-scrollbar-thumb {
  background-color: var(--list-item-color);
}

.container-notes .Note {
  width: 340px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.container-notes .Note .top {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.container-notes .Note .top h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

.container-notes .Note .top .topIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.container-notes .Note .top .topIcons .trash {
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-notes .Note .top .topIcons .trash:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container-notes .Note .top .topIcons .pen {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-notes .Note .top .topIcons .pen:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container-notes .Note .middle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  height: 65%;
}

.container-notes .Note .bottom {
  height: 10%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 30px;
  padding: 50px;
}

.Create .inputs {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Create .inputs .title,
.Create .inputs .content {
  outline: none;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--body-color);
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Create .inputs .title:focus,
.Create .inputs .content:focus {
  border: 3px solid #797687;
}

.Create .inputs .title::-webkit-input-placeholder,
.Create .inputs .content::-webkit-input-placeholder {
  color: #797687;
}

.Create .inputs .title:-ms-input-placeholder,
.Create .inputs .content:-ms-input-placeholder {
  color: #797687;
}

.Create .inputs .title::-ms-input-placeholder,
.Create .inputs .content::-ms-input-placeholder {
  color: #797687;
}

.Create .inputs .title::placeholder,
.Create .inputs .content::placeholder {
  color: #797687;
}

.Create .inputs .content {
  resize: none;
  height: 260px;
  padding: 10px;
}

.Create .inputs .btn {
  margin-top: 0.9rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 5px 45px;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}

.Create .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  height: 100%;
}

.Create .color .clr {
  display: inline-block;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  background-color: red;
  outline: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Create .color .clr:hover, .Create .color .clr.active {
  outline: 3px solid var(--white);
}

.nullMsg {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.7rem;
  color: var(--white);
  word-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
}

.nullMsg:hover {
  letter-spacing: 3px;
}

.doneNote {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  text-align: center;
  border: 2px solid var(--white);
}

.doneNote h1 {
  line-height: 35px;
  font-weight: 700;
  font-size: 1.8rem;
}

.doneNote .backNoteBtn {
  position: relative;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 1;
  cursor: pointer;
}

.doneNote .backNoteBtn::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0px;
  bottom: -70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  z-index: -1;
}

.doneNote .backNoteBtn:hover::before {
  bottom: 0px;
}

.Account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--account-color);
  padding: 30px;
  padding-bottom: 35px;
  height: 100%;
}

.Account .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Account .info .profile {
  width: 125px;
  height: 125px;
  border: var(--account-color) 4px solid;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px var(--account-color);
          box-shadow: 0px 0px 10px 0px var(--account-color);
  overflow: hidden;
}

.Account .info .profile img {
  width: 120px;
}

.Account .info .name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}

.Account .info .rate {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
  margin-top: -10px;
}

.Account .info .level .main {
  width: 180px;
  height: 7px;
  background-color: #544a94;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.Account .info .level .main .progress {
  position: absolute;
  height: 7px;
  background-color: #c5bcff;
  border-radius: 20px;
  left: 0;
  top: 0;
  width: 70%;
  z-index: 2;
}

.Account .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.Account .cards .cr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  height: 190px;
  border: var(--account-color) 3px solid;
  border-radius: 15px;
}

.Account .cards .cr .icon {
  font-size: 3.5rem;
}

.Account .cards .cr h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.Account .cards .cr h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #a79aff;
  margin-bottom: -20px;
}
/*# sourceMappingURL=test.css.map */